# === Python ===
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# === Virtual Environment ===
env/
venv/
ENV/
VENV/
.virtualenv/
.venv/

# === Django Stuff ===
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/

# === Django Migrations ===
**/migrations/**/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.pyd
**/migrations/*.sqlite3
**/migrations/*.db
# optionally ignore all migration files, uncomment below line if you want that
# **/migrations/*.py

# === VS Code ===
.vscode/

# === PyCharm ===
.idea/
*.iml

# === MyPy / Coverage / Tests ===
.mypy_cache/
.dmypy.json
.pytest_cache/
.coverage
htmlcov/

# === Pipenv / Poetry ===
Pipfile.lock
poetry.lock

# === OS-Specific ===
.DS_Store
Thumbs.db

# === dotenv ===
.env
.env.*

# === Docker ===
*.pid
*.seed
docker-compose.override.yml
